.Portfolio {
    display: flex;
    flex-direction: column;
}

.Portfolio > h2 {
    color: red;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}